@(desenvolvedores: List[Desenvolvedor])

@import helper._

@main("HackALLthon Desenvolvedores") {
<a href="/hackathons/desenvolvedores/create">Novo Desenvolvedor</a>
<table class="table table-bordered">
	<caption>Lista de Desenvolvedores</caption>
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Nickname</th>
			<th>Twitter</th>
		</tr>
	</thead>
	<tbody>
		@desenvolvedores.map { desenvolvedor =>
			<tr>
				<td><button class="btn btn-mini btn-danger" type="button">Delete</button></td>
				<td>@desenvolvedor.id</td>
				<td>@desenvolvedor.nickname</td>
				<td>@desenvolvedor.twitter</td>
			</tr>
        }
	</tbody>
</table>
}