@(desenvolvedores: List[Desenvolvedor])

@import helper._

@main("HackALLthon Desenvolvedores") {
<legend>Desenvolvedores</legend>
<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Nickname</th>
			<th>Twitter</th>
		</tr>
	</thead>
	<tbody>
		@desenvolvedores.map { desenvolvedor =>
			<tr>
				<td>
				<div class="btn-group">
					<a class="btn btn-mini btn-danger" type="button">Delete</a>
					<a class="btn btn-mini btn-warning" type="button">Update</a>
				</div>
				</td>
				<td>@desenvolvedor.id</td>
				<td>@desenvolvedor.nickname</td>
				<td>@desenvolvedor.twitter</td>
			</tr>
        }
	</tbody>
</table>
<a class="btn btn-primary" href="/hackathons/desenvolvedores/create"><i class="icon-plus-sign icon-white"></i> Desenvolvedor</a>
}