@(desenvolvedores: List[Desenvolvedor])

@import helper._

@main("HackALLthon Desenvolvedores") {
	 @desenvolvedores.map { desenvolvedor =>
	 	
	 }
	<a href="/hackathons/desenvolvedores/create">Novo Desenvolvedor</a>
    <ul>
        @desenvolvedores.map { desenvolvedor =>
           <li> <div>
                <a href="/hackathons/desenvolvedores/@desenvolvedor.id">X</a> - <a href="/hackathons/desenvolvedores/@desenvolvedor.id">@desenvolvedor.nickname</a>
            </div>
            </li>
        }
    </ul>    
}