@(hackathons: List[Hackathon], hackathonForm: Form[String])

@import helper._

@main("HackALLthon manager") {
    
    <h1>@hackathons.size hackathon(s)</h1>
    
    <ul>
        @hackathons.map { hackathon =>
            <li>
                @hackathon.project
                
                @form(routes.Application.deleteHackathon(hackathon.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new hackathon</h2>
    
    @form(routes.Application.newHackathon) {
        
	    @inputText(hackathonForm("Hackaton:"))
	    <input type="submit" value="Create">

    }
    
}